---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dosificación">
	<section class="px-6 py-12 max-w-4xl mx-auto">
		<h2 class="text-4xl font-bold text-neutral-100 mb-6">¿Cuál es la dosis ideal de CBD para ti?</h2>
		<p class="text-neutral-100 text-lg mb-8">
			En Happy Live creemos en el poder del cannabidiol para mejorar tu bienestar, pero también sabemos que la clave está en la dosis adecuada para ti.		</p>
		<p class="text-neutral-100 text-lg mb-8">🧬 Cada cuerpo es único, y por eso la dosis debe ser personalizada.</p>
	
		<div class="bg-neutral-800/30 border border-neutral-800/30 rounded-xl p-6 mb-10">
			<h3 class="text-xl font-semibold text-neutral-100 mb-4">🔸 Dosis personalizada, efecto real</h3>
			<p class="text-neutral-100 mb-4">Cada cuerpo es único, y por eso tu dosis también debe serlo.</p>
	
			<table class="w-full text-left text-sm text-gray-700 border border-neutral-800/30 rounded-lg overflow-hidden">
				<thead class="bg-neutral-800/30 text-neutral-100">
					<tr>
						<th class="px-4 py-3 font-medium">Producto</th>
						<th class="px-4 py-3 font-medium">Dosis recomendada</th>
					</tr>
				</thead>
				<tbody class="divide-y divide-neutral-800/30 text-neutral-400">
					<tr>
						<td class="px-4 py-3">Happy Drop / Honey / Focus / Sleep</td>
						<td class="px-4 py-3">1 gota por cada <strong>10 kg</strong> de peso corporal</td>
					</tr>
					<tr>
						<td class="px-4 py-3">Happy Kids</td>
						<td class="px-4 py-3">1 gota por cada <strong>5 kg</strong> de peso corporal</td>
					</tr>
					<tr>
						<td class="px-4 py-3">Happy Pet (mascotas)</td>
						<td class="px-4 py-3">1 gota por cada <strong>2 kg</strong> de peso corporal</td>
					</tr>
					<tr>
						<td class="px-4 py-3">Happy Gummies</td>
						<td class="px-4 py-3">De <strong>1 a 3 gomitas</strong> al día, en 1 o 2 tomas</td>
					</tr>
				</tbody>
			</table>
		</div>
	
		<div class="bg-neutral-800/30 border border-neutral-800/30 rounded-xl p-6 mb-10">
			<h3 class="text-xl font-semibold text-neutral-100 mb-4">🔹 ¿Es tu primera vez con CBD?</h3>
			<p class="text-neutral-100">Empieza poco a poco. Comienza con una dosis más baja de la recomendada y <strong>ajústala progresivamente</strong> hasta encontrar tu punto ideal. Así permites que tu cuerpo se adapte con suavidad, sin saturarlo.</p>
		</div>
	
		<div class="bg-neutral-800/30 border border-neutral-800/30 rounded-xl p-6 mb-10">
			<h3 class="text-xl font-semibold text-neutral-100 mb-4">🔸 Importante: menos es más</h3>
			<p class="text-neutral-100">Evita exceder la dosis sugerida. Una sobredosis puede provocar malestares como boca seca, dolor de cabeza o somnolencia. Siempre escucha a tu cuerpo y <strong>consulta a un profesional si tienes dudas.</strong></p>
		</div>
	
		
	</section>
	
</Layout>
