---
import BuildingStore from '../assets/svg/building-store.svg';
import { shopLink } from '../constants/happy-live';
import NavMenu from './NavMenu.vue';
import MenuIcon from '../assets/svg/menu.svg';
---
<header class="sticky top-0 z-50 border-b border-neutral-800  backdrop-blur-sm bg-neutral-900/90">
    <nav class="w-full  px-5 py-4 flex justify-between text-neutral-100">
        <a href="/"><strong>Happy Docs</strong></a>
        <ul class="flex items-center gap-4">
            <li>
              <a href={shopLink.href} target="_blank" class="opacity-80 transition-opacity hover:opacity-100" title={shopLink.title}>
                <BuildingStore class="size-5"/>
              </a>
            </li>
            <li>
              <NavMenu client:load>
                <MenuIcon slot="icon" class="size-5" />
              </NavMenu>
            </li>
        </ul>
    </nav>
</header>